@import "./mixin";
.container {
  width: 1226px;
  /*让container居中*/
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

a {
  img {
    width: 100%; /*设置在水平方向填满*/
    height: 100%; /*设置在垂直方向填满*/
  }
}

input {
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.fl {
  float: left;

}

.fr {
  float: right;
}

//.clearfix:before, .clearfix:after { // 实践证明, 不添加.clearfix:before也可以
.clearfix:after {
  content: ' ';
  display: table; // 若不添加这个的话, float元素会溢出父元素
}

.clearfix:after {
  clear: both;
}

// 公共logo
.header-logo {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #FF6600;

  a {
    display: inline-block;
    width: 110px;
    height: 55px;

    &:before { /*scss的伪类-logo标志*/
      content: ' '; /*content是占位的, 如果不加, 伪类就无法正常显示*/
      @include bgImg(55px, 55px, "/imgs/mi-logo.png", 55px);
      //tag::由mixin函数替换
      /*display: inline-block;
      width: 55px;
      height: 55px;
      background: url("/imgs/mi-logo.png") no-repeat center;
      background-size: 55px;*/
      //end::由mixin函数替换
      transition: margin 0.2s;
    }

    &:after { /*scss的伪类-home标志*/
      content: ' ';
      @include bgImg(55px, 55px, "/imgs/mi-home.png", 55px)
      //tag::由mixin函数替换
      /* display: inline-block;
       width: 55px;
       height: 55px;
       background: url("/imgs/mi-home.png") no-repeat center;
       background-size: 55px;*/
      //end::由mixin函数替换
    }

    &:hover:before {
      margin-left: -55px;
      transition: margin 0.2s;
    }
  }
}
