.container {
  width: 1226px;
  /*让container居中*/
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
a{
  img {
    width: 100%; /*设置在水平方向填满*/
    height: 100%; /*设置在垂直方向填满*/
  }
}
input {
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.fl {
  float: left;

}
.fr{
  float: right;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;


}
.clearfix:after{
  clear: both;
}
